body{
    background-color: #5CDB95;
}

.page{
    max-width: 1024px;
    margin: auto;
    background-color: #8EE4AF;
    height: 640px;
}

.games{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card{  
    color: white;
    margin: 10px auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 250px;
    height: 300px;
}

.hide{
    display: none;
}

.card:hover{
    color: whitesmoke;
    box-shadow: 0, 8px 16px 0 rgba(0,0,0,0.2);
    transform: translate3d(0px, -1px, 0px);
    cursor: pointer;
}

.card:hover .hide{
    display: block;
}

.container{
    padding: 2px 16px;
    /* background-image: linear-gradient(180deg, #e48f75 0%, #ce372c 35%, #810c0c 100%); */
    background-color: #05386B;
}

.topnav h1{
    text-align: center;
    color:white;
    margin: 0px;
    padding: 16px;
}

.topnav{
    background-color: #05386B;
    /* background-image: linear-gradient(180deg, #e48f75 0%, #ce672c 35%, #81310c 100%); */
    margin-bottom: 5px;
}